@using MvcPL.HtmlHelpers
@model MvcPL.Models.Lists.BlogsListViewModel

@{
    ViewBag.Title = "Blogs";
    ViewBag.LikeUrl = Request.RawUrl;
}

<h2>Blogs</h2>
    @foreach (var blog in Model.Blogs)
    {
        <div>
            @{ Html.RenderPartial("_BlogPartial", blog); }
        </div>
    }
<div class="btn-group pull-right">
    @Html.PagingLinks(Model.PagingInfo, p => Url.Action("Index", new { page = p, userId = Model.UserId }))
</div>