@using MvcPL.HtmlHelpers
@model MvcPL.Models.Lists.BlogsListViewModel

@{
    ViewBag.Title = "Blogs";
}

<h2>Blogs</h2>
    @foreach (var blog in Model.Blogs)
    {
        ViewBag.UserId = Model.UserId;
        ViewBag.Page = Model.PagingInfo.CurrentPage;
        <div>
            @{ Html.RenderPartial("_BlogPartial", blog); }
        </div>
    }
<div class="btn-group pull-right">
    @Html.PagingLinks(Model.PagingInfo, p => Url.Action("Index", new { page = p, userId = Model.UserId }))
</div>