@using MvcPL.HtmlHelpers
@model MvcPL.Models.Entities.CommentViewModel

<div class="col-sm-12">
    <h4>@Model.UserName <small>@Model.DateAdded</small></h4>
    <p class="text-break">@Model.Content</p>
    @Html.GlyphLink("glyphicon glyphicon-star-empty", Model.Rating.ToString(),
             () => Url.Action("Like", "Comments", new { commentId = Model.Id }))
</div>
<hr />