@using (Html.BeginForm("Index", "Articles"))
{
    <div class="input-group">
        <input type="text" id ="tag" class="form-control pull-right"
               name="tag" placeholder="Search by tag..">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
}

@section Scripts
{
    
}