@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bloghost</h1>
    <p class="lead">Bloghost application helps you to share your wisdom, knowledges
        or emotions with other people. You can create many blogs and write
        articles for them.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Blogs</h2>
        <p>
            Write your own blog, look for others, be on the top of rating. Start now!
        </p>
        <p>@Html.ActionLink("Start", "Index", "Blogs", null, new {@class="btn btn-default"})</p>
    </div>
    <div class="col-md-6">
        <h2>Articles</h2>
        <p>
            Create articles, read articles, add rating to the best. Start now!
        </p>
        <p>@Html.ActionLink("Start", "Index", "Articles", null, new { @class = "btn btn-default" })</p>
    </div>
</div>