@model MvcPL.Models.Entities.ArticleViewModel

@{
    ViewBag.Title = "Details";
}

<div>
    @{Html.RenderPartial("_ArticlePartial", Model);}
</div>
@{ Html.RenderAction("Comments", "Comments", new
   {
       articleId = Model.Id,
       commentPackNumber = ViewBag.CommentPackNumber,
   }); 
}
