@model MvcPL.Models.Entities.ArticleViewModel

@{
    ViewBag.Title = "Details";
    ViewBag.LikeUrl = Request.RawUrl;
}

<div>
    @{Html.RenderPartial("_ArticlePartial", Model);}
</div>
@{ Html.RenderAction("Comments", "Comments", new
   {
       articleId = Model.Id,
       commentPackNumber = ViewBag.CommentPackNumber,
   }); 
}

@section scripts
{
    @Html.Partial("CommentJsTemplate")
    @Scripts.Render("~/Scripts/AjaxComments/Comments.js")   
}