@using MvcPL.HtmlHelpers
@model MvcPL.Models.Lists.ArticlesListViewModel

@{
    ViewBag.Title = "Articles";
    ViewBag.LikeUrl = Request.RawUrl;
}

<h1>@ViewBag.Title</h1>

@{ Html.RenderPartial("_SearchByTag"); }

<ul class="list-unstyled">
    @foreach (var article in Model.Articles)
    {
        <li>
            @{Html.RenderPartial("_ArticlePartial", article);}
        </li>
    }
</ul>
<div class="btn-group pull-right">
    @Html.PagingLinks(Model.PagingInfo, p => Url.Action("Index",
        new
        {
            page = p,
            tag = Model.Tag,
            userId = Model.UserId,
            text = Model.Text,
            blogId = Model.BlogId,
        }))
</div>

@section Scripts
{
    @{ Html.RenderPartial("AutocompleteScript"); }
}