@model IEnumerable<MvcPL.Models.ArticleViewModel>

@{
    ViewBag.Title = "Articles";
}

<h1>@ViewBag.Title</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Articles"))
{
    @Html.Editor("tag", new { type = "text" })
    <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Search by tag" class="btn btn-default" />
    </div>
</div>
}
<ul class="list-unstyled">
@foreach (var article in Model)
{
    <li>
        @{Html.RenderPartial("_ArticlePartial", article);}
    </li>
}
 </ul>